table, td, tr, th{
	border: 1px solid black;
	border-collapse: collapse;
	background-color: #8FEBBD;
}
body{
	background-color: #A9F5CE;
	font-family: "Times new roman", serif;
}
a {
	background-color: green;
}
p {
	background-color: pink;
}
h1{
	background-color: #A9F5CE;
	padding: 10px;
	padding-left: 5px;
}
#info{
	background-color: BurlyWood;}
.highlight{
	background-color: Chartreuse;
}
#zoo{
	text-decoration: underline;
	tex t-decoration-style: wavy;
}
